.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.DS_Store
*.swp
*.swo

purple_air_api.txt
hrrr/
hysplit/install/
hysplit/runs/
data/Air_District_WFL1_-841210503623017823.geojson

figures/
report/images/*.png
report/images/*.jpg
report/images/*.jpeg
report/images/*.gif
report/images/*.html
report/*.pdf
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.synctex.gz

docs/CRL_Climate_Justice_Javier_Racine.pptx
